.container {
	width: 1440px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 $gutter;
}

.row {
	margin: 0 -$gutter;
	&:after {
		display: table;
		content: ' ';
		clear: both;
	}
}

@for $i from 1 through 12 {
	.col-#{$i} {
		float: left;
		width: $i / 12 * 100%;
		min-height: 1px;
		padding: 0 $gutter;
	}
}

@media screen and ( max-width: 700px ) {
	[class*='col-'] {
		float: none;
		width: 100%;
	}
}