@import url("https://fonts.googleapis.com/css?family=Domine");

body {
	color: #333;
	font-family: 'Domine';
	font-size: 14pt;
	line-height: 1.7;
}

h1 {
	letter-spacing: 1px;
}

.fancy {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.lf {
	color: $lf;
}

.asa {
	color: $asa;
}

.int {
	color: $int;
}

.int, .tig {
	color: $int;
}

.adv {
	color: $adv;
}

.math {
	color: $math;
}

.fx5 {
	color: $fx5;
}

.text-center {
	text-align: center;
}

.strikethrough {
	position: relative;
	&::before {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		height: 1px;
		background-color: #000;
		content: ' ';
	}
}

blockquote {
	display: inline-block;
	margin: 0;
	padding: 0.5em 1em;
	background-color: #fff;
	border-left: 2px solid #333;
	.author {
		display: block;
		font-size: 0.8em;
		font-style: italic;
	}
}