$lf: #00aeef;
$asa: #152c53;
$int: #B3272D;
$adv: #f59433;
$math: #002B49;
$fx5: #ba9c75;

$colors: (
    "lf": $lf,
    "asa": $asa,
    "tig": $int,
    "adv": $adv,
    "math": $math,
    "fx5": $fx5,
);

$gutter: 15px;