@import url(https://fonts.googleapis.com/css?family=Domine);
/*
        If I scope this the subCallout from above doesn't
        receive the .company-name styles
    */
.company {
  margin-bottom: 25px;
}
.company .company-info {
    display: flex;
    flex-wrap: wrap;
}
.company .where {
    flex: 0 0 60%;
}
.company .title, .company .callouts {
    flex: 0 0 100%;
}
.company .title {
    font-weight: bold;
}
.company .timeline {
    flex: 0 0 40%;
    text-align: right;
}
@media screen and (max-width: 800px) {
.company .where, .company .title, .company .timeline {
      flex: 0 0 100%;
}
.company .where span {
      display: block;
}
.company .timeline {
      text-align: left;
}
}
.callouts > li {
  margin: 0;
}
@media screen and (max-width: 800px) {
ul {
    padding-left: 25px;
}
}
.company-lf a, .company-lf a:hover, .company-lf a:active, .company-lf a, .company-lf :visited {
  color: #00aeef;
  font-weight: bold;
}
.company-lf strong {
  color: #00aeef;
  font-weight: bold;
}
.company-lf lf {
  color: #00aeef;
}
.company-asa a, .company-asa a:hover, .company-asa a:active, .company-asa a, .company-asa :visited {
  color: #152c53;
  font-weight: bold;
}
.company-asa strong {
  color: #152c53;
  font-weight: bold;
}
.company-asa asa {
  color: #152c53;
}
.company-tig a, .company-tig a:hover, .company-tig a:active, .company-tig a, .company-tig :visited {
  color: #B3272D;
  font-weight: bold;
}
.company-tig strong {
  color: #B3272D;
  font-weight: bold;
}
.company-tig tig {
  color: #B3272D;
}
.company-adv a, .company-adv a:hover, .company-adv a:active, .company-adv a, .company-adv :visited {
  color: #f59433;
  font-weight: bold;
}
.company-adv strong {
  color: #f59433;
  font-weight: bold;
}
.company-adv adv {
  color: #f59433;
}
.company-math a, .company-math a:hover, .company-math a:active, .company-math a, .company-math :visited {
  color: #002B49;
  font-weight: bold;
}
.company-math strong {
  color: #002B49;
  font-weight: bold;
}
.company-math math {
  color: #002B49;
}
.company-fx5 a, .company-fx5 a:hover, .company-fx5 a:active, .company-fx5 a, .company-fx5 :visited {
  color: #ba9c75;
  font-weight: bold;
}
.company-fx5 strong {
  color: #ba9c75;
  font-weight: bold;
}
.company-fx5 fx5 {
  color: #ba9c75;
}


.nav {
	display: none;
}

.resume[data-v-fd09def0] {
  margin: 45px auto;
}
.resume .headline-row[data-v-fd09def0] {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid #333;
}
.resume .headline h1[data-v-fd09def0] {
    margin: 0;
    line-height: 1;
}
.resume .headline .personal-info[data-v-fd09def0] {
    text-align: right;
    justify-content: flex-end;
}
.resume .headline .personal-info li[data-v-fd09def0] {
      margin-bottom: 0;
}

body {
  color: #333;
  font-family: 'Domine';
  font-size: 14pt;
  line-height: 1.7; }

.fancy {
  font-style: italic; }

.bold {
  font-weight: bold; }

.lf {
  color: #00aeef; }

.asa {
  color: #152c53; }

.int {
  color: #B3272D; }

.int, .tig {
  color: #B3272D; }

.adv {
  color: #f59433; }

.math {
  color: #002B49; }

.fx5 {
  color: #ba9c75; }

.text-center {
  text-align: center; }

.container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.row {
  margin: -15px; }
  .row:after {
    display: table;
    content: ' ';
    clear: both; }

.col-1 {
  float: left;
  width: 8.33333%;
  min-height: 1px;
  padding: 0 15px; }

.col-2 {
  float: left;
  width: 16.66667%;
  min-height: 1px;
  padding: 0 15px; }

.col-3 {
  float: left;
  width: 25%;
  min-height: 1px;
  padding: 0 15px; }

.col-4 {
  float: left;
  width: 33.33333%;
  min-height: 1px;
  padding: 0 15px; }

.col-5 {
  float: left;
  width: 41.66667%;
  min-height: 1px;
  padding: 0 15px; }

.col-6 {
  float: left;
  width: 50%;
  min-height: 1px;
  padding: 0 15px; }

.col-7 {
  float: left;
  width: 58.33333%;
  min-height: 1px;
  padding: 0 15px; }

.col-8 {
  float: left;
  width: 66.66667%;
  min-height: 1px;
  padding: 0 15px; }

.col-9 {
  float: left;
  width: 75%;
  min-height: 1px;
  padding: 0 15px; }

.col-10 {
  float: left;
  width: 83.33333%;
  min-height: 1px;
  padding: 0 15px; }

.col-11 {
  float: left;
  width: 91.66667%;
  min-height: 1px;
  padding: 0 15px; }

.col-12 {
  float: left;
  width: 100%;
  min-height: 1px;
  padding: 0 15px; }

@media screen and (max-width: 700px) {
  [class*='col-'] {
    float: none;
    width: 100%; } }

.side-by-side {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none; }
  .side-by-side.small {
    font-size: .85em;
    padding: 0 8px; }
  .side-by-side li {
    flex: 0 0 50%;
    margin: 0 0 10px;
    padding: 0 15px; }
  @media screen and (max-width: 800px) {
    .side-by-side li {
      flex: 0 0 100%; } }

* {
  box-sizing: border-box; }

html, body {
  margin: 0; }

body {
  background: #f2f2f2; }

