@import url(https://fonts.googleapis.com/css?family=Domine);
.company[data-v-34a6530e] {
  margin-bottom: 25px;
}
.company .company-info[data-v-34a6530e] {
    display: flex;
    flex-wrap: wrap;
}
.company .where[data-v-34a6530e] {
    flex: 0 0 60%;
}
.company .title[data-v-34a6530e], .company .callouts[data-v-34a6530e] {
    flex: 0 0 100%;
}
.company .title[data-v-34a6530e] {
    font-weight: bold;
}
.company .timeline[data-v-34a6530e] {
    flex: 0 0 40%;
    text-align: right;
}
@media screen and (max-width: 800px) {
.company .where[data-v-34a6530e], .company .title[data-v-34a6530e], .company .timeline[data-v-34a6530e] {
      flex: 0 0 100%;
}
.company .where span[data-v-34a6530e] {
      display: block;
}
.company .timeline[data-v-34a6530e] {
      text-align: left;
}
}
.callouts > li[data-v-34a6530e] {
  margin: 0;
}
@media screen and (max-width: 800px) {
ul[data-v-34a6530e] {
    padding-left: 25px;
}
}
.company-lf a[data-v-34a6530e], .company-lf a[data-v-34a6530e]:hover, .company-lf a[data-v-34a6530e]:active, .company-lf a[data-v-34a6530e], .company-lf[data-v-34a6530e] :visited {
  color: #00aeef;
  font-weight: bold;
}
.company-lf strong[data-v-34a6530e] {
  color: #00aeef;
  font-weight: bold;
}
.company-asa a[data-v-34a6530e], .company-asa a[data-v-34a6530e]:hover, .company-asa a[data-v-34a6530e]:active, .company-asa a[data-v-34a6530e], .company-asa[data-v-34a6530e] :visited {
  color: #152c53;
  font-weight: bold;
}
.company-asa strong[data-v-34a6530e] {
  color: #152c53;
  font-weight: bold;
}
.company-tig a[data-v-34a6530e], .company-tig a[data-v-34a6530e]:hover, .company-tig a[data-v-34a6530e]:active, .company-tig a[data-v-34a6530e], .company-tig[data-v-34a6530e] :visited {
  color: red;
  font-weight: bold;
}
.company-tig strong[data-v-34a6530e] {
  color: red;
  font-weight: bold;
}
.company-adv a[data-v-34a6530e], .company-adv a[data-v-34a6530e]:hover, .company-adv a[data-v-34a6530e]:active, .company-adv a[data-v-34a6530e], .company-adv[data-v-34a6530e] :visited {
  color: #f59433;
  font-weight: bold;
}
.company-adv strong[data-v-34a6530e] {
  color: #f59433;
  font-weight: bold;
}
.company-math a[data-v-34a6530e], .company-math a[data-v-34a6530e]:hover, .company-math a[data-v-34a6530e]:active, .company-math a[data-v-34a6530e], .company-math[data-v-34a6530e] :visited {
  color: #002B49;
  font-weight: bold;
}
.company-math strong[data-v-34a6530e] {
  color: #002B49;
  font-weight: bold;
}
.company-fx5 a[data-v-34a6530e], .company-fx5 a[data-v-34a6530e]:hover, .company-fx5 a[data-v-34a6530e]:active, .company-fx5 a[data-v-34a6530e], .company-fx5[data-v-34a6530e] :visited {
  color: #ba9c75;
  font-weight: bold;
}
.company-fx5 strong[data-v-34a6530e] {
  color: #ba9c75;
  font-weight: bold;
}


.nav {
	display: none;
}

.resume[data-v-fd09def0] {
  margin: 45px auto;
}
.resume .headline-row[data-v-fd09def0] {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid #333;
}
.resume .headline h1[data-v-fd09def0] {
    margin: 0;
    line-height: 1;
}
.resume .headline .personal-info[data-v-fd09def0] {
    text-align: right;
    justify-content: flex-end;
}
.resume .headline .personal-info li[data-v-fd09def0] {
      margin-bottom: 0;
}

body {
  color: #333;
  font-family: 'Domine';
  font-size: 14pt;
  line-height: 1.7; }

.fancy {
  font-style: italic; }

.bold {
  font-weight: bold; }

.lf {
  color: #00aeef; }

.asa {
  color: #152c53; }

.int {
  color: #B3272D; }

.int {
  color: #B3272D; }

.adv {
  color: #f59433; }

.math {
  color: #002B49; }

.fx5 {
  color: #ba9c75; }

.text-center {
  text-align: center; }

.container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.row {
  margin: -15px; }
  .row:after {
    display: table;
    content: ' ';
    clear: both; }

.col-1 {
  float: left;
  width: 8.33333%;
  min-height: 1px;
  padding: 0 15px; }

.col-2 {
  float: left;
  width: 16.66667%;
  min-height: 1px;
  padding: 0 15px; }

.col-3 {
  float: left;
  width: 25%;
  min-height: 1px;
  padding: 0 15px; }

.col-4 {
  float: left;
  width: 33.33333%;
  min-height: 1px;
  padding: 0 15px; }

.col-5 {
  float: left;
  width: 41.66667%;
  min-height: 1px;
  padding: 0 15px; }

.col-6 {
  float: left;
  width: 50%;
  min-height: 1px;
  padding: 0 15px; }

.col-7 {
  float: left;
  width: 58.33333%;
  min-height: 1px;
  padding: 0 15px; }

.col-8 {
  float: left;
  width: 66.66667%;
  min-height: 1px;
  padding: 0 15px; }

.col-9 {
  float: left;
  width: 75%;
  min-height: 1px;
  padding: 0 15px; }

.col-10 {
  float: left;
  width: 83.33333%;
  min-height: 1px;
  padding: 0 15px; }

.col-11 {
  float: left;
  width: 91.66667%;
  min-height: 1px;
  padding: 0 15px; }

.col-12 {
  float: left;
  width: 100%;
  min-height: 1px;
  padding: 0 15px; }

@media screen and (max-width: 700px) {
  [class*='col-'] {
    float: none;
    width: 100%; } }

.side-by-side {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none; }
  .side-by-side.small {
    font-size: .85em;
    padding: 0 8px; }
  .side-by-side li {
    flex: 0 0 50%;
    margin: 0 0 10px;
    padding: 0 15px; }
  @media screen and (max-width: 800px) {
    .side-by-side li {
      flex: 0 0 100%; } }

* {
  box-sizing: border-box; }

html, body {
  margin: 0; }

body {
  background: #f2f2f2; }

